nav {
  color: azure;
}

.DiscoverButton{
  margin-left: 180px;
  background-color: transparent;
  color: white;
  width: 250px;
  height: 100px;
  margin-top: -100px;
  border: 2px solid;
  border-image: linear-gradient(to right, #04d9ff, #FF10F0) 1;
  animation: rotate 2s linear infinite;
}

.CompareButton {
  margin-left: 600px;
  background-color: transparent;
  color: white;
  width: 250px;
  height: 100px;
  margin-top: 100px;
  border: 2px solid;
  border-image: linear-gradient(to right, #04d9ff, #FF10F0) 1;
  animation: rotate 2s linear infinite;
}

.timeline{
  background-color: #111111;
  padding-top: 150px;
  color: aliceblue;
  text-align: center;
}

.filterTime{
  background-color: #B29D70;
  color: #111111;
  width: 300px;
  height: 30px;
  border: 0px;
  border-image: linear-gradient(to right, #04d9ff, #FF10F0) 1; 
  margin-bottom: 50px;
}

.PokeTitle{
  color: #B29D70;
  margin-bottom: 30px;
}


.Filter{
  border: none;
  width: 500px;
  margin-top: 140px;
  margin-bottom: 20px;
  margin-left: 550px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #04d9ff, #FF10F0) 1;
  padding: 2px;
  background-color: transparent;
  color: white;
}

/* Compare Page CSS */

.backgroundcompare{
  height: 723px;
  background-color: #111111;
  padding-top: 150px;
  padding-left: 550px;
  color: white;
}

.ComTitle{
  padding-bottom: 50px;
  color: #B29D70;
}

.Comparebut{
  margin-left: 50px;
  margin-top: 50px;
  background-color: transparent;
  color: white;
  width: 250px;
  height: 80px;
  border: 2px solid;
  border-image: linear-gradient(to right, #04d9ff, #FF10F0) 1;
  animation: rotate 2s linear infinite;
}
